version: '3.9'

services:
  web:
    build:
      context: .
      target: runner
    ports:
      - '3000:3002' # <-- modifié : exposer le port 3000 du container sur le port 3000 de l'hôte
    restart: unless-stopped
